section#dashboard {
  height: calc(100vh - 1rem);
  padding-top: 4.5rem;
}

.card_dashboard {
  border-top: 4px solid #0081b4;
  border-bottom: 1px solid var(--bs-gray-100);
  border-left: 1px solid var(--bs-gray-100);
  border-right: 1px solid var(--bs-gray-100);
}

.card_dashboard > .card-body {
  overflow-x: auto;
}
