<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" [formGroup]="Form">
        <!-- Heading -->
        <div class="row align-items-center justify-content-center mb-3">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center ">
                <h4 *ngIf="FormState == 'register'" class="text-blue fw-semibold mb-2">
                    Register Account
                </h4>
                <h4 *ngIf="FormState == 'sign_in'" class="text-blue fw-semibold mb-2">
                    Sign In Account
                </h4>
            </div>
        </div>

        <!-- Full Name -->
        <div *ngIf="FormState == 'register'" class="row align-items-center justify-content-center mb-3">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                <label for="full_name" class="form-label text-blue">
                    Nama Lengkap
                </label>
                <input type="text" class="form-control" formControlName="full_name">
            </div>
        </div>

        <!-- Username -->
        <div class="row align-items-center justify-content-center mb-3">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                <label for="full_name" class="form-label text-blue">
                    Username
                </label>
                <input type="text" class="form-control" formControlName="username">
            </div>
        </div>

        <!-- Password -->
        <div class="row align-items-center justify-content-center mb-3">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                <label for="full_name" class="form-label text-blue">
                    Password
                </label>
                <input type="password" class="form-control" formControlName="password">
            </div>
        </div>

        <!-- Button -->
        <div class="row align-items-center justify-content-center mb-2">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 d-grid gap-2">
                <button *ngIf="FormState == 'register'" class="btn btn-primary btn-sm" type="button"
                    (click)="handleCreateUser(Form.value)">
                    Register
                </button>
                <button *ngIf="FormState == 'sign_in'" class="btn btn-primary btn-sm" type="button"
                    (click)="handleSignIn(Form.value)">
                    Sign In
                </button>
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-center">
                <p *ngIf="FormState == 'register'" class="mb-0" (click)="onSetFormState('sign_in')">
                    Sudah Punya Akun? <span class="text-blue">Sign In Sekarang</span>
                </p>
                <p *ngIf="FormState == 'sign_in'" class="mb-0" (click)="onSetFormState('register')">
                    Belum Punya Akun? <span class="text-blue">Register Sekarang</span>
                </p>
            </div>
        </div>
    </div>
</div>